.statistics {
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  color: rgb(114, 119, 135);
  border-radius: 4px;
  overflow: hidden;
  width: 380px;
}

.title {
  margin: 0;
  padding: 1em;
  text-align: center;
  background-color: #fff;
  color: #5f4b32;
}

.statList {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 8px;
}

.label {
  text-align: center;
  font-size: smaller;
  margin-bottom: 8px;
}

.percentage {
  font-size: larger;
  font-weight: bolder;
  /* padding: 8px; */
  text-align: center;
}
